<h1>Generate Secret codes</h1>
<%= form_tag(create_n_secret_codes_secret_codes_path) do %>
  <%= label_tag "How many codes do you want to generate" %>
  <%= select_tag :secret_code_count, options_for_select(default_secret_code_count, 10) %>
  <%= submit_tag "Generate" %>
<% end %>
