<% if SecretCode.unassigned_secret_codes.blank? %>
  <%= f.fields_for :secret_code do |code| %>
    <div class="control-group">
      <%= code.label :code, "Secret code", :class => 'control-label' %>
      <div class="controls">
        <%= code.text_field :code, :class => 'text_field' %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= f.select :update_secret_code_relation, options_for_select(SecretCode.unassigned_secret_codes.map{|s_code| [s_code.code, s_code.id ]}) %>
<% end %>
